/* Article
======================================================================= */
article {
	width: 100%;
	background: $background-color-article;
	color: $font-color-article;
}

/* Header
======================================================================= */
article header {
	text-align: center;
	padding: 15% 0 10% 0;
}

/* Section
======================================================================= */
article section {
	@include center(8);
  font-family: $font-family-serif;
  font-weight: 300;
  line-height: $line-height-body;
  padding: gutter();
}

article section img {
  border-radius: 3px;
  display: block;
  margin: 20px 0 20px 0;
  width: 100%;
}

/* Footer
======================================================================= */
article footer {
	@include center(10);
  padding: gutter();
}
