.blog-post.page {
  background: #fff;
  color: #000;

  line-height: 1.5;

  header.title {
    background: #71A2FF;
    color: #fff;
    padding: 10% 0 10% 0;
    font-size: 22px;
    text-align: center;
    font-family: "fira-sans", Arial, Helvetica, sans-serif;
    h2 { font-size: .8 em; }
    h3 {
      font-family: "freight-text-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-weight: normal;
    }
    img {
      vertical-align: middle;
      height: 40px;
      width: 40px;
      border-radius: 100%; }

    @media (max-width: 767px) {
      h1 { font-size: 2em; }
      h2 { font-size: 1em; }
      h3 { font-size: .8em; }
    }
  }

  div.blog-body {
    padding: 20px auto 20px auto;
    margin: 100px auto 0 auto;
    max-width: 700px;
    display: block;

    .content {
      display: inline;
      font-size: 22px;
      line-height: 1.5;
      font-family: "jaf-bernino-sans";
      h1{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 2.5em; }
      h2{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 2.3em; }
      h3{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 2.1em; }
      h4{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 1.8em; }
      h5{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 1.6em; }
      h6{
        text-align: left;
        margin: 0 0 25px 0;
        font-size: 1.4em; }

      p {
        margin: 0 0 25px 0;
        font-size: 1em;
        font-family: "freight-text-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      }
      a {
        color: #000; }
      pre {
        margin: 0 0 25px 0;
      }
      :not(pre) > code {
        word-wrap: break-word;
      }
      img {
        width: 100%;
        padding: 20px 0 20px 0;
        display: block;
      }
    }
  }
}
