.blog-post {
  background: #fff;
  color: #000;
  font-weight: 300;
  line-height: 1.5;

  header.title {
    background: #71A2FF;
    width: 100%;
    text-align: center;
    padding: 10% 0 10% 0;
    color: #fff;
    font-family: "Quattrocento Sans", "Arial", "sans-serif";
    h1 { font-size: 3em; }
    h2 {
      font-size: .8 em;
      font-weight: 300;
    }
    h3 {
      font-family: 'Merriweather', 'serif';
      font-weight: 300;
    }
    img {
      vertical-align: middle;
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }
  }

  .content {
    padding: 20px 20% 20px 20%;
    text-align: left;
    h1 {
      font-size: 2.2em;
      display: inline;
      text-align: left;
    }
    h2 {
      font-size: 1.8em;
      display: inline;
    }
    h3 {
      font-size: 1.4em;
      display: inline;
      line-height: 1;
    }
    h4 {
      font-size: 1.3em;
      display: inline;
      line-height: 1;
    }
    h5 {
      font-size: 1.2em;
      display: inline;
      line-height: 1;
    }
    h6 {
      font-size: 1.1em;
      display: inline;
      line-height: 1;
    }
    a { color: #000; }
    img {
      width: 100%;
      padding: 20px 0 20px 0;
    }
  }
}
