body {
  font-family: "Quattrocento Sans", "Arial", "sans-serif";
  background: #71A2FF;
  color: #FFF;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

p {
  font-family: 'Merriweather', 'serif';
}

nav {
  text-align: center;
  padding: 20px;
  a {
    color: #FFF;
    padding: 20px;
  }
}

.about {
  margin: 20px 20% 20px 20%;
}
