/* About
======================================================================= */
.about.wrapper {
	@include size(100%);
	padding-top: $nav-offset;
  text-align: center;
}

.about .content {
	@include center(8);
	margin-bottom: 100px;
	margin-top: 100px;
	padding: gutter();
}
