/* Blog Post
======================================================================= */
article.post {
  margin: auto;
}

article.post header {
  background: $background-color-article-header;
  color: $font-color-article-header;

  h3 img {
    @include size($font-size-larger);
    border-radius: 100%;
    margin: 5px;
    vertical-align: middle;
  }
}

article.post section {}
article.post footer {}
