article.post {
  font-family: $base-font-family-serif;
  margin: auto;
}

article.post header {
  background: $blue1;
  color: $white;

  h3 img {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
}

article.post section {
}


article.post footer {
}
