/* Home
======================================================================= */
.home.content {
	@include size(100%);
	text-align: center;
}

.home.content h1 {
	@include absolute-align(50%, 40%);
	font-size: $font-size-home-title;
	width: span(10);
	z-index: $z-index-title;
}

.home.content img {
	@include absolute-align(50%, 60%);
	width: span(6);
	z-index: $z-index-logo;
}
