/* DEFAULTS
======================================================================= */
article.project footer {
  height: 3rem;

  div.links {
    @include span(2);
  }
  div.links a {
  }
  div.links a img {
    @include size($sizeLinkItem);
  }
}

/* BIG DADDY
======================================================================= */
article.big-daddy {
  background: $black url("http://a1star.com/images/starsglow1.gif") repeat;
  color: $white;
  padding-top: 0;
  p { text-align: center; }
}

article.big-daddy header {
  margin: 0;
  padding: $navBarHeight 0 0 0;
  width: 100%;
}

article.big-daddy header img {
  @include size(100%, auto)
}

/* OTHER
======================================================================= */
article.crock-pot {
  background: $crockpotblack;
  color: $white;
}

article.tokki {
  background: $tokkiblue;
  color: $white;
}

article.unearth section img {
  @include center(6);
  padding: gutter();
}


