/* Vendorizing
======================================================================= */
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin box-shadow($value) {
	@include vendorize(box-shadow, $value);
}

@mixin transform($value) {
	@include vendorize(transform, $value);
}

/* Positioning
======================================================================= */
@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin center($columns) {
  margin: 0 auto;
  width: span($columns);
}

@mixin vertical-align($position: relative) {
  @include transform(translateY(-50%));
  position: $position;
  top: 50%;
}

@mixin absolute-align($horizontal, $vertical) {
	@include transform(translateX(-50%) translateY(-50%));
	left: $horizontal;
	position: absolute;
	top: $vertical;
}

@mixin vertical-align-text($height) {
	height: $height;
  line-height: $height - 1;
}


/* Animation
======================================================================= */
@mixin animatedUnderline($height, $width, $color) {
	&:before {
	  background-color: $color;
	  bottom: 15%;
	  content: "";
	  height: $height;
	  left: 15%;
	  opacity: 0.3;
	  position: absolute;
	  transform: scaleX(0);
	  transition: all 0.3s ease-out 0s;
	  visibility: hidden;
	  width: $width;
	}

	&:hover:before {
	  visibility: visible;
	  transform: scaleX(1);
	}

	&.selected:before {
	  content: "";
	  width: $width;
	  height: $height;
	  position: absolute;
	  bottom: 15%;
	  left: 15%;
	  background-color: $color;
	  opacity: 1;
	  visibility: visible;
	  transform: scaleX(1);
	  transition: all 0.3s ease-out 0s;
	}
}


