/* Navigation
======================================================================= */
nav.nav {
  @include span(12);
  background: $background-color-nav;
  font-size: $font-size-nav;
  padding: $nav-padding;
  position: absolute;
  text-align: center;
  z-index: $z-index-nav-bar;
  min-height: 0;
}

/* Navigation Item
======================================================================= */
nav.nav a {
  @include animatedUnderline(1px, 70%, $font-color-nav);
  color: $font-color-nav;
  padding: .5rem span(1) .5rem span(1);
  position: relative;
  text-decoration: none;
  width: span(2);
  z-index: $z-index-nav-item;
}
