.search-wrapper {
  @include center(6);
  background-color: $blue1;
}

.search-input {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto 20px auto;
  padding: 5px;
  border: 2px solid #ddd;
  font-size: .8em;
  border-radius: 10px
}
