/* Search
======================================================================= */
.search-wrapper {
  @include center(6);
  background-color: $background-color-search;
}

.search-input {
  border: 2px solid #ddd;
  border-radius: 10px;
  display: block;
  font-size: .8em;
  margin: 20px auto 20px auto;
  max-width: 300px;
  padding: 5px;
  width: 100%;
}
