#post h1, #post h2, #post h3, #post h4, #post h5, #post h6 {
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: #000;
}

#post p, #post a, #post li {
  color: #000;
}

#post a {
  font-family: "Merriweather", "serif";
}

#post {
  background-color: #fff;
  cursor: default;
}

#post .title {
  font-size: 3rem;
  padding: 50px 0 50px 0;
  background-color: #81B2F7;
  color: #fff;
}

#post .content {
  text-align: left;
  padding: 20px 20% 20px 20%;
  font-weight: 300;
}

#post img {
  display: block;
  margin: 20px auto 20px auto;
  width: 100%;
}

#post .gist {
  width: 100%;
  margin: 20px auto 20px auto;
}

#post .gist a {
  font-size: .7rem;
  color: #999;
}

.postList h1, .postList h2, .postList h3, .postList h4, .postList h5, .postList h6 {
  color: #000;
}

.postList {
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #666;
  transition: all 0.2s ease;
}

.postList:hover {
  color: #000;
  background-color: #ddd;
  transition: all 0.5s ease;
}

.postList h2 {
  color: #000;
  padding: 0;
  margin: 0;
}

.postList h3 {
  color: #666;
  padding: 10px;
}

.postList .author .authorImage {
  vertical-align: middle;
  display: inline;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
